body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Playfair Display" !important;
}

.user-page {
  background-image: linear-gradient(to right top, #000000, #2e2929, #594e4b, #85786e, #afa694);
  height: 100vh;
}
.user-page .left {
  background-color: white;
  border-radius: 20px;
  padding: 50px;
}
.user-page .left .user {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.user-page .left .user img {
  width: 200px;
  height: 200px;
}
.user-page .left .user .name-user {
  font-weight: 600;
  font-size: 30px;
  color: #603809;
}
.user-page .right {
  background-color: white;
  border-radius: 20px;
  padding: 50px;
}